@model IEnumerable<WebPaymentFineros.Models.MyProduct>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Products</h2>

<div class="container" style="margin-top:120px; margin-bottom:120px;">

    <div class="row">
        @foreach (var item in Model)
        {
            <div class="col-sm-6">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">@item.ProductName</h5>
                        <p class="card-text">@item.Price $</p>
                        @*<a href="#" class="btn btn-primary">Buy product</a>*@
                       @Html.ActionLink("Buy Product", "PaymentCheckOut", "Home", routeValues: new { @id = item.ProductId }, htmlAttributes: new { })   
                    </div>
                </div>
            </div>

        }


    </div>
</div>

